/*dl-font-cleanup.css*/



/*CATEGORY NAV & FACET NAV*/
/* tested on solden-kortingen / zwembaden - lego city -  categoryNavWidget-Facetwidget*/

	#page #content .categoryNavWidget.collapsible>h3.notoggle {
	    color: #005BA9;
	    font-size: 16px;
	    font-family: Ubuntu,sans-serif;
	    text-transform: none;
	    letter-spacing: normal;
	    font-weight: 600;
	}

	#page #content .facetWidget h3.toggle {
	    font-family: Ubuntu,sans-serif;
	    text-transform: none;
	    color: #005ba9;
	    font-weight: 500;
	}




/*NAVIGATION 'KIES EEN CATEGORIE & 'SEC NAVIGATION'*/


	#page #headerWrapper #headerRow2 nav.topNav .topNav__title {
	    font-family: Ubuntu,sans-serif;
	}


	#page #headerWrapper #headerRow2 nav.secondaryNav .secondaryNav__wrap>ul>li a {
	    font-family: Ubuntu,sans-serif;
	}



/*CATEGORY PAGE H1 */

	#page .actie_content h1, #page h1 {
	    font-weight: 500;
	    font-size: 28px;
	}
	

	#page .widget_title_container h1, .content_wrapper h1, .headingText, .title h1, .titleItems {
	    color: #005ba9;
	    font-size: 18px;
	    line-height: 22px;
	    font-family: Ubuntu,sans-serif;
	    font-weight: 400;
	}




