/*dl-font-cleanup.css*/

line-height: 1.25em;
color: #005BA9;
text-transform: uppercase;
letter-spacing: .75px;



/*CATEGORY NAV / FACET NAV*/

/*https://www.dreamland.be/e/nl/dl/solden-kortingen.  categoryNavWidget-Facetwidget*/

	#page #content .categoryNavWidget.collapsible>h3 {
	    background-color: #f2f2f2;
	    color: #005BA9;
	    font-size: 16px;
	    font-family: Ubuntu,sans-serif;
	    text-transform: capitalize;
	    letter-spacing: normal;
	    font-weight: 600;
	}





/*NAVIGATION 'KIES EEN CATEGORIE'*/


	#page #headerWrapper #headerRow2 nav.topNav .topNav__title {
	    font-family: Ubuntu,sans-serif;
	}


/*NAVIGATION 'SEC NAVIGATION'*/

	#page #headerWrapper #headerRow2 nav.secondaryNav .secondaryNav__wrap>ul>li a {
	    font-family: Ubuntu,sans-serif;
	}







