<style>
/*@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');*/
/*UPDATE STYLING FLYOUT V4.0.4 - jonas 21/10/2021 - to be made part of -main css*/
/*******************************/
/* NIEUWE FLYOUT verberg oude top balk met naam categorie en button alles van {categorie}*/
    #page #headerWrapper #headerRow2 nav.topNav ul li .subNav__column.subNav__column-top {
        display:none!important;
    }
    #page #headerWrapper #headerRow2 nav.topNav ul li .subNav { /*dl-homepage.css*/
    	height: calc(100% + 2px) !important; /*dynamicaly adjust height to amount of top catgeories*/
        min-height: 574px !important;  /*same min height a the collapsible list navigation on homepage -*/ 
        padding: 24px 16px 16px 32px !important; /*the title and close button does not have sufficiant margin, also cleaned up side and bottom padding*/
        box-shadow: 1px 1px 8px 0px rgb(74 74 74 / 10%) !important;
        -webkit-box-shadow: 1px 1px 8px 0px rgb(74 74 74 / 15%) !important;
        -moz-box-shadow: 1px 1px 8px 0px rgba(74,74,74,0.15) !important ;
        clip-path: inset(-8px -8px -8px 0px); /*remove double shadow on the left*/
        box-sizing:border-box;
        width: calc(100% * 3 + 172px) !important; /*overwrite inline + dl.homepage.css*/ 
    }
    /*the brand logo's are quite big, adding a max width is also a good failsafe if wrong image size is uploaded*/
    #page #headerWrapper #headerRow2 nav.topNav ul li .flyout_nav_inner_wrapper.brandcarrousel a picture { /*inline css espot*/
        max-width: 100px;
    }
    /*The NAVIGATION Collapsible list of categories:  very dirty visual that does not have a bottom line an not the same border radius*/
    @media (min-width: 768px){
        #page #headerWrapper #headerRow2 nav.topNav.expand { /*dl-homepage.css*/
            border-radius: 3px 3px 3px 3px !important;
        }
        /*********************/
        /*MARGIN FIX FOR FLYOUT - IF THERE ARE MANY TOP CATEGORIES IN DESKTOP FLY OUT NAVIGATION THEN THE FLYOUT COMES OVER THE FROOMLE CAROUSEL!!!*/
        .row.topRow.twoCol {
            margin-bottom: 9%;
        }
    }
    #page #headerWrapper #headerRow2 nav.topNav.expand { /*alle pagina's behalve HP*/
        /*border-bottom: 1px solid #ddd !important;*/ /*SYST NEW MENU*/
        min-height: 574px !important; /*match height of flyout*/
    }
    @media (min-width: 1024px){
        #page #headerWrapper #headerRow2 nav.topNav ul {
            box-shadow: 1px 1px 8px 0px rgb(74 74 74 / 10%) !important;
        }
        #page #headerWrapper #headerRow2 nav.topNav ul li *,
        #page #headerWrapper #headerRow2 nav.topNav ul li *:before,
        #page #headerWrapper #headerRow2 nav.topNav ul li *:after{
            box-sizing:border-box;
        }
        #page #headerWrapper #headerRow2 nav.topNav ul li div.flyout_nav_title {
            font-family: 'Nunito', sans-serif;
            font-weight:700;
            font-style:normal;
            font-size:20px;
            line-height:20px;
            color:#005ba9;
            margin-bottom:28px;
        }
        #page #headerWrapper #headerRow2 nav.topNav ul li .flyout_nav_outer_wrapper {
            display:flex;
            flex-direction:column;
            align-items:stretch;
            justify-content:space-between;
            height: 494px;  /*because of the fixed height , brand logo's were outside of parent element if NO minimum height.*/
        }
        #page #headerWrapper #headerRow2 nav.topNav ul li .flyout_nav_inner_wrapper {
            display:flex;
            flex-direction:row;
            justify-content:space-between;
        }
        .flyout_nav_inner_wrapper.brandcarrousel { 
            margin-top: 16px; /*min instead of flex only?*/
            align-items: center;
            flex-wrap: nowrap;
        }
        #page #headerWrapper #headerRow2 nav.topNav ul li .flyout_nav_inner_wrapper.brandcarrousel a {
            flex-grow:0;
            flex-shrink:1;
        }
        #page #headerWrapper #headerRow2 nav.topNav ul li .flyout_nav_inner_wrapper.brandcarrousel a picture {
            display:block;
            padding:8px;
            max-width: 100px;
        }
        #page #headerWrapper #headerRow2 nav.topNav ul li .flyout_nav_inner_wrapper.brandcarrousel a picture img {
            display:block;
            width:100%;
        }
        #page #headerWrapper #headerRow2 nav.topNav ul li .flyout_nav_inner_wrapper .flyout_nav_column.col3 {
            width:184px;
        }
        #page #headerWrapper #headerRow2 nav.topNav ul li .flyout_nav_inner_wrapper .flyout_nav_column.col4 {
            width:228px;
        }
        #page #headerWrapper #headerRow2 nav.topNav ul li .flyout_nav_inner_wrapper .flyout_nav_column h3 {
            display:block;
            font-family: 'Lato', sans-serif;
            font-weight:600;
            font-style:normal;
            font-size:15px;
            line-height:16px;
            color:#005ba9;
            margin-bottom:8px;
            margin-top: 0px !important; /*overwrite for template 2020 css*/
            text-transform: none; /*overwrite for template 2020 css*/
            letter-spacing: normal; /*overwrite for template 2020 css*/
        }
        #page #headerWrapper #headerRow2 nav.topNav ul li .flyout_nav_inner_wrapper .flyout_nav_column a {
            display:block;
            font-family: 'Lato', sans-serif;
            font-weight:400;
            font-style:normal;
            font-size:15px;
            line-height:16px;
            color:#4a4a4a;
            margin-bottom:8px;
        }
        #page #headerWrapper #headerRow2 nav.topNav ul li .flyout_nav_inner_wrapper .flyout_nav_column a:hover {
            color:#005ba9;
            text-decoration: underline;
        }
        #page #headerWrapper #headerRow2 nav.topNav ul li .flyout_nav_inner_wrapper .flyout_nav_column .tips-flyout > a:before {
            color: #005ba9;
            content: "\f672";
            font-family: 'Font Awesome 5 Pro';
            font-size: 17px;
            font-weight: 300;
            margin-right: 8px;
        }
        #page #headerWrapper #headerRow2 nav.topNav ul li .flyout_nav_inner_wrapper .flyout_nav_column a.bold {
            color:#005ba9;
        }
        #page #headerWrapper #headerRow2 nav.topNav ul li .flyout_nav_inner_wrapper .flyout_nav_column a.promo {
            display:block;
            font-family: 'Lato', sans-serif;
            font-weight:600;
            font-style:normal;
            font-size:15px;
            line-height:16px;
            color:#ee9e00;
            margin-bottom:8px;
        }
        #page #headerWrapper #headerRow2 nav.topNav ul li .flyout_nav_inner_wrapper .flyout_nav_column a.promo.red {
            color:#D6380C;
        }
        #page #headerWrapper #headerRow2 nav.topNav ul li .flyoutclose {
            position:absolute;
            z-index:1;
            top:-3px;
            right:-3px;
            font-size:18px;
            color:#005ba9;
            cursor:pointer;
        }
        #page #headerWrapper #headerRow2 nav.topNav ul li { /*dl-homepage.css*/
            font-size:15px !important;

        }
    }
    /*fix to hide dropdown arrow (chevron down) on homepage */
    body.homePage #page #headerWrapper #headerRow2 nav.topNav .topNav__title:after {
    display: none!important;
    }
        /*********************/
    /*styling to match font types of collapse with flyout*/
    #page #headerWrapper #headerRow2 nav.topNav .topNav__title { /*dl-homepage.css*/
        font-family: 'Nunito',sans-serif !important;
        font-size: 15px !important;
        text-transform: none !important; /*overwrite for template 2020 AND category page css*/
        letter-spacing: normal !important; /*overwrite for template 2020 AND category page css*/
        letter-spacing: 0 !important;
        font-weight: 700 !important;

    }
    #page #headerWrapper #headerRow2 nav.topNav ul li { /*dl-homepage.css*/
        font-family: 'Lato',sans-serif !important;
        font-size:15px !important;

    }
    /*styling to match font types of secundary nav with flyout*/
    #page #headerWrapper #headerRow2 nav.secondaryNav .secondaryNav__wrap>ul>li a {
    font-family: 'Lato',sans-serif !important;
    text-transform: none !important;
    font-size: 16px !important;
    font-weight: 400 !important;
}
</style>