/*the brand logo's are being cutoff there is 25px cut off ? */
#page #headerWrapper #headerRow2 nav.topNav ul li .subNav { /*dl-homepage.css*/
	/*height: calc(100% - 25px);*/
    /*height: 100%;*/ 
    height: 552px;  /*same height a the collapsible list navigation on homepage - looks very clean like this but need to make sure we do NOT make content in flyout bigger than this = HARD CONSTRAINT*/ 
}


/*the title and close button does not have sufficiant margin, also cleaned up side and bottom padding*/
#page #headerWrapper #headerRow2 nav.topNav ul li .subNav { /*dl-homepage.css*/
    /*padding: 5px 10px 20px 28px;*/
    padding: 16px 16px 16px 24px;
}

/*the brand logo's are quite big, adding a max width is also a good failsafe if wrong image size is uploaded*/
#page #headerWrapper #headerRow2 nav.topNav ul li .flyout_nav_inner_wrapper.brandcarrousel a picture { /*inline css espot*/
    max-width: 100px;
}



/*The NAVIGATION Collapsible list of categories:  very dirty visual that does not have a bottom line an not the same broder radius*/
/*It is probabily done because the flyouts do not have the same height. that gives flexibility what we can but in the flyouts but can cause a mismatch with this list, looks very dirty. 
We need to fix this, introducing a constraint to the flyouts is OK, visually much more pleasing and easy to make a nice box of the list and flyout.*/

@media (min-width: 768px){
#page #headerWrapper #headerRow2 nav.topNav.collapse { /*dl-homepage.css*/
    /*border-radius: 3px 3px 0 0;*/
    border-radius: 3px 3px 3px 3px !important;
}
}

#page #headerWrapper #headerRow2 nav.topNav.collapse { /*dl-homepage.css*/
    /* border-bottom: none; */
    border-bottom: 1px solid #ddd !important;
}


/*because of the fixed height , brand logo's are still outside of parant element.*/
#page #headerWrapper #headerRow2 nav.topNav ul li .flyout_nav_outer_wrapper { /*inline css espot*/
    /* height: 494px; */
}
.flyout_nav_inner_wrapper.brandcarrousel { /*inline css espot*/
    margin-top: 16px;
}

#page #headerWrapper #headerRow2 nav.topNav ul li .subNav { /*dl-homepage.css*/
    box-shadow: 2px 2px 8px 0px rgb(74 74 74 / 20%);
    -webkit-box-shadow: 2px 2px 8px 0px rgb(74 74 74 / 20%);
    -moz-box-shadow: 2px 2px 8px 0px rgba(74,74,74,0.2);
    clip-path: inset(-8px -8px -8px 0px); /*remove double shadow on the left*/
}

@media (min-width: 1024px){
body.homePage #page #headerWrapper #headerRow2 nav.topNav { /*dl-homepage.css*/
    box-shadow: 2px 2px 8px 0px rgb(74 74 74 / 20%);
    -webkit-box-shadow: 2px 2px 8px 0px rgb(74 74 74 / 20%);
    -moz-box-shadow: 2px 2px 8px 0px rgba(74,74,74,0.2);
}
}